.div_payment-cardElement{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.form_payment-cardElement{
    width: 80%;
    background: #e4e3e1;
    border-bottom: 1px;
    border-bottom-color: #fd8d1d;
}
.form-label{
	width:72px;
	font-weight:bold;
	display:inline-block;
    padding: 10px;
    color: #fd8d1d;
    font-family: 'system-ui';
}
.form_payment-btn{
    width: max-content;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #1565c0;
    color: #f9fbe7;
}
.form_payment-btn:hover{
    cursor: pointer;
    background-color: #1976d2;
}