.form-Contact {
    background-image: url('./shared/image/Diseño\ sin\ título\ \(3\).png');
}
.slider {
	width: 100%;
	max-width: 500px;
	height: 400px;
	padding: 20px 0 40px;
	position: relative;
	overflow: hidden;
	margin: 0 auto 50px;
  }
  .slider__container {
	width: 300%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateX(calc(-100% * 0 / 3));
	transition: transform 400ms ease;
  }
  .second-img {
	transform: translateX(calc(-100% * 1 / 3));
	transition: transform 400ms ease;
  }
  .third-img {
	transform: translateX(calc(-100% * 2 / 3));
	transition: transform 400ms ease;
  }
  .slider__imgs {
	width: calc(100% / 3);
	height: 100%;
	object-fit: contain;
  }
  .slider__prev,
  .slider__next {
	position: absolute;
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #1565c0;
	color: #f9fbe7;
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1;
  }
  .slider__prev {
	left: 0;
  }
  .slider__next {
	right: 0;
  }
  .puntitos-container {
	display: flex;
	gap: 40px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
  }
  .puntitos {
	width: 20px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #ccc;
	cursor: pointer;
  }
  .puntitos__active {
	background-color: #1565c0;
  }